html, body{
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
}

.nav{
  background-color: #9A0606;
}

.nav ul{
  list-style-type: none;
  width: 500px;
}

.nav ul li{
  float: left;
  width: 25%;
  padding: 30px;
}

.clearfix{
  clear: both;
}

#subheader{
  min-height: 250px;
  background-color: #211ED4;
}

footer{
  min-height: 60px;
  width: 100%;
  background-color: git#9A0606;
  position: absolute;
  bottom: 0px;
}

#content-container{
  background-color: #fff;
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 300px;
  left: 220px;
  z-index: 1;
}
